{% extends "layout.html" %}
{% set active_page = "cars_admin" %}
 
{% block content %}

      <div class="jumbotron">
        <h1>View cars</h1>

        *this page is just a filler for now*
        
        <br><br>
        Add options to:
        <br><br>
        4) For a given location, show all cars currently available in that location and
		reservations for those cars, if any.
		<br><br>
        5) Show all cars that have travelled 5000 kms or more since their last maintenance.
        <br><br>
        6) Find the car with the highest/lowest number of rentals.
        <br><br>
        7) Find all cars that are damaged or need a repair.


      </div>




{% endblock %}
 
