{% extends "layout.html" %}
{% set active_page = "cars_by_km" %}
 
{% block content %}

      <div class="jumbotron">
        <h1>Cars by damage</h1>

        <h3>Show cars that are damaged or in need of repair.</h3>

        <br>

        {% if cars == () or cars == None %}

        	<h4>No cars are damaged or in need of repair.</h4>

        {% else %}

            <table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th>VIN</th>
	                    <th>status on return</th>
	                    <th>latest rental</th>
	                </tr>
	            </thead>

	        	{% for car in cars %}

	        		<tr>
	                    <td style="text-align:left">{{car[0]}}</td>
	                    <td style="text-align:left">{{car[1]}}</td>
	                    <td style="text-align:left">{{car[2]}}</td>
                    </tr>

	        	<!--<h4>{{ car[0] }} {{ car[1] }}</h4>-->

	        {% endfor %}
        {% endif %}
      </div>

{% endblock %}
 
