{% extends "layout.html" %}
{% set active_page = "homepage" %}
 
{% block content %}
 
        <div class="jumbotron">
            <h1>Welcome to Kingston Car Share!</h1>

            <br>
            <img src="{{ url_for('static', filename='images/kingston.png') }}" style="border-radius:10px" class="img-responsive" alt="kingston image">

            <br>
            Renting a car is made convenient with many pickup and dropoff locations and up-to-date information available online. <b>Register now and have the city at your fingertips.</b>

            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="signup" role="button">Try it today!</a>
            </p>

        </div>
 
{% endblock %}