<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kingston Carshare</title>
    
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="../static/css/bootstrap.min.css" rel="stylesheet">-->

    <!--<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">-->
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    
    <link href="../static/signup.css" rel="stylesheet">

    <!--<link href="{{ url_for('static', filename='css/button-row.css') }}" rel="stylesheet">-->
    
  </head>
 
  <body background="{{ url_for('static', filename='images/car_on_road.png') }}">


    <!--<div class="container" background="{{ url_for('static', filename='images/car_on_road.png') }}">-->
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"{% if active_page == "homepage" or active_page == "welcome_user" or active_page == "welcome_admin" %}class="active"{% endif %}><a href="/homepage">Home</a></li>
            <li role="presentation"{% if active_page == "comments" %}class="active"{% endif %}><a href="/comments">Ratings</a></li>
            {% if firstName == None %} 
              <li role="presentation"{% if active_page == "signin" %}class="active"{% endif %}><a href="/signin">Sign In</a></li>
              <li role="presentation"{% if active_page == "signup" %}class="active"{% endif %}><a href="/signup">Sign Up</a></li>
            {% else %}
              <li role="presentation"><a href="/logout">Sign Out</a></li>
            {% endif %}
          </ul>
        </nav>
        <h2 style="color:white;font-weight:bold">Kingston Car Share</h2>
        {% if firstName != None %} 
          <em style="color:white">  You are signed in as {{ firstName }}  <br />  </em> 
          <!--<a href="/logout">Sign out</a>-->
        {% endif %}
      </div>


      {% block content %}{% endblock %} 
       
      <!--
      <footer class="footer">
        <p style="color:white">&copy; Chris Dean and Anna Ilina 2017</p>
      </footer>
      -->
 
    </div>
  </body>
</html>