{% extends "layout.html" %}
{% set active_page = "locations2" %}
 
{% block content %}

	{% if locationSelected == "3" %}
		<div class="jumbotron">
        <h1>This car's rental history</h1>


        <!--
            {% for rental in rentals %}
                {{rental[0]}}, {{rental[1]}}, {{rental[2]}}, {{rental[3]}}, {{rental[4]}}, {{rental[5]}}<br> <br> 
            {% endfor %}
        -->


        {% if rentals == () %}

            <br>
            This car has no previous rentals

        {% else %}


        <table class="table table-bordered">



            {% for rental in rentals %}
			<thead>
				<tr>
                    <th>reservation ID</th>
                    <th>member ID</th>
					<th>pickUpKm</th>
					<th>dropOffKm</th>
					<th>statusOnPickup</th>
                </tr>
                <tr>
                    <td style="text-align:left">{{rental[0]}}</td>
                    <td style="text-align:left">{{rental[1]}}</td>
                    <td style="text-align:left">{{rental[2]}}</td>
                    <td style="text-align:left">{{rental[3]}}</td>
                    <td style="text-align:left">{{rental[4]}}</td>
					
                </tr>
				<tr>
					<th>statusOnReturn</th>
					<th>pickUpTime</th>
                    <th>dropOffTime</th>
                    <th>VIN</th>
				</tr>
				<tr>
					<td style="text-align:left">{{rental[5]}}</td>
                    <td style="text-align:left">{{rental[6]}}</td>
                    <td style="text-align:left">{{rental[7]}}</td>
                    <td style="text-align:left">{{rental[8]}}</td>
				</tr>
			</thead>
            {% endfor %}

            {% endif %}

        </table>


      </div>
	{% endif %}

	{% if locationSelected != "3" %}
      <div class="jumbotron">
		{% if locationSelected == False %}
		<h3>Select a location!</h3>
		{% if theThing == () %}

            <br>
            This location has no cars, sorry

        {% endif %}
		<form class="form-signin" action="/member/locations" method="post">
		
		<form class="form-seeCars" action="/member/locations" method="post">
		<form>
		{% for places in theThing %}			
			<input type="radio" name="sites" value={{places[0]}}> {{places[0]}}<br>
		{% endfor %}
		<input type="submit" class="btn btn-lg btn-primary btn-block" value="See cars at location!">
		</form>
		{% endif %}
		
		{% if locationSelected == True %}
		<h3>Select a car!</h3>
		<form class="form-seeCars" action="/member/locations" method="post">
		<form>
		{% for avaliable in theLocation %}
			<input type="radio" name="cars" value={{ avaliable[1] }}> {{ avaliable[1] }}<br>
		{% endfor %}
		<input type="submit" class="btn btn-lg btn-primary btn-block" value="See rental history of this car!">
		</form>
		{% endif %}

      </div>
	</form>
	{% endif %}
		


{% endblock %}

