{% extends "layout.html" %}
{% set active_page = "pickup_dropoff" %}
 
{% block content %}

      <div class="jumbotron">
        <h1>Pick-up or drop-off car</h1>

        *this page is just a filler for now*

        <h2>Record pick-up car</h2>
        List member's current reservations, add button to say you have picked up the car.
        (record the time, odometer reading, car status)

        <h2>Record drop-off car</h2>
        List member's currently signed out cars, add button to say you have dropped off a car.
        (record the time, odometer reading, car status)

        Also have a field to provide feedback on the returned rental.
        (rating, comment)

      </div>




{% endblock %}
 
