{% extends "layout.html" %}
{% set active_page = "reservations" %}
 
{% block content %}

 
      <div class="jumbotron">
        <h1>Make a reservation with Kingston Carshare</h1>
        <form class="form-signin" action="/reserve" method="post">

        <label for="inputVIN" class="sr-only">Name</label>
        <input type="text" name="inputVIN" class="form-control" placeholder="VIN" required autofocus>

        <label for="inputDay" class="sr-only">Name</label>
        <input type="date" name="inputDay" class="form-control" placeholder="Start Day (YYYY-MM-DD)" required autofocus>

        <label for="inputNumDays" class="sr-only">Name</label>
        <input type="text" name="inputNumDays" class="form-control" placeholder="Number of days for reservation" required autofocus>

        <label for="inputID" class="sr-only">Name</label>
        <input type="text" name="inputID" class="form-control" placeholder="Member ID" required autofocus>
         
        <!--<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>-->
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reserve Now!">
      </form>
      </div>
 
       
 {% endblock %}
 