{% extends "layout.html" %}
{% set active_page = "welcome_admin" %}
 
{% block content %}

      <div class="jumbotron">
        <h1>Welcome {{ firstName }}</h1>
        <h3>You are an admin.</h3>


         <div class = "row">
          <!-- Generate invoice for member -->
          <div class="col-xs-6">
            <a href = "/admin/invoice" class="btn btn-default">
              <img src="{{ url_for('static', filename='images/papers.png') }}" class="img-responsive" alt="Responsive image">
              Generate invoice
            </a>
          </div>
          <!-- Add new car to fleet-->
          <div class="col-xs-6">
            <a href = "/admin/add_car" class="btn btn-default">
              <img src="{{ url_for('static', filename='images/new_car.png') }}" class="img-responsive" alt="Responsive image">
              Add new car to fleet
            </a>
          </div>
        </div>

        <div class = "row">
          <!-- View a car's rental history -->
          <div class="col-xs-6">
            <a href = "/admin/car_history" class="btn btn-default">
              <img src="{{ url_for('static', filename='images/road_autumn.png') }}" class="img-responsive" alt="Responsive image">
              View car's rental history
            </a>
          </div>
          <!-- View cars by location/mileage/rental numbers/damage -->
          <div class="col-xs-6">
            <a href = "/admin/cars" class="btn btn-default">
              <img src="{{ url_for('static', filename='images/car_row.png') }}" class="img-responsive" alt="Responsive image">
              View all cars
            </a>
          </div>
        </div>


        <div class = "row">
          <!-- Show reservations for a given day -->
          <div class="col-xs-6">
            <a href = "/admin/reservations" class="btn btn-default">
              <img src="{{ url_for('static', filename='images/calendar.png') }}" class="img-responsive" alt="Responsive image">
              Reservations by day
            </a>
          </div>
          <!-- Respond to member comments-->
          <div class="col-xs-6">
            <a href = "/admin/comments" class="btn btn-default">
              <img src="{{ url_for('static', filename='images/car_woman.png') }}" class="img-responsive" alt="Responsive image">
              Respond to comments
            </a>
          </div>
        </div>

        <!-- below code doesn't work? -->
        <div class="img" style="background-image:url('https://s-media-cache-ak0.pinimg.com/originals/e2/9f/67/e29f678e682b03308030b9b290df25c5.jpg');"></div>



      </div>


{% endblock %}
 